:root {
    --light: rgb(202, 195, 240);
    --mid: rgb(181, 172, 233);
    --dark: darkslateblue;
  }
  

body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: var(--dark);
    margin: 0;
}

#content {
    display: grid;
    grid: 80px 1fr 40px / 300px 1fr;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
    "head head"
    "side main"
    "foot foot";
}

#content > header {
    grid-area: head;
    background-color: var(--dark);
    color: white;
    padding-left: 30px;
}

#content > nav {
    grid-area: side;
    background-color: var(--light);
}

#content > main {
    grid-area: main;
    background-color: white;
    padding: 10px 50px 0;
}

#content > footer {
    grid-area: foot;
    background-color: var(--dark);
}





#projectList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}

#projectList > button{
    font-weight: normal;
    background-color: var(--light);
    color: var(--dark);
    font-size: 18px;
    padding: 10px 140px 10px 0;
    border: none;
    border-radius: 8px;
}

#projectList > button:hover {
    background-color: var(--mid);
}

#projectList > button.active {
    background-color: var(--dark);
    font-weight: bold;
    color: white;
}





#mainContainer {
    background-color: white;
}

#mainContainer .projectTitle {
    font-size: 40px;
}





#addTaskBtn {
    border: none;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    padding: 0 0 10px 23px;
    background-color: white;
    color: var(--dark);
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    flex: 0 0 16px;
}

#addTaskBtn:hover {
    background-color: var(--light);
}

#addTaskBtn::before {
    content: '+  ';
    font-size: 35px;
    font-weight: bolder;
    position: relative;
    top: 6px;
    left: -9px;
    margin-right: -4px;
}





dialog {
    padding: 0 20px 20px;
    border: none;
    border-radius: 10px;
    color: var(--dark);
}



dialog p {
    font-size: 24px;
    font-weight: bold;
}

dialog label {
    font-size: 14px;
}

form input[type="text"] {
    margin-top: 5px;
    width: 300px;
    border: solid 1px var(--light);
    padding: 5px 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

form label[for="name"]::after {
    content: '*';
    color: var(--mid);
}

form textarea {
    margin-top: 5px;
    width: 300px !important;
    font-family: Arial;
    resize: none;
    border: solid 1px var(--light);
    padding: 5px 10px 5px;
    height: 32px;
    border-radius: 5px;
    margin-bottom: 14px;
}

form input[type="date"] {
    font-family: Arial;
    resize: none;
    border: solid 1px var(--light);
    padding: 5px;
    border-radius: 5px;
    margin-right: 14px;
}

form select {
    border: solid 1px var(--light);
    padding: 5px;
    border-radius: 5px;
}

form .buttons {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    margin-left: 132px;
    
}

form .buttons button {
    border-radius: 5px;
    border: none;
    height: 34px;
    width: 90px;
    color: var(--dark);
    background-color: var(--light);
}

form .buttons #confirmBtn {
    color: white;
    background-color: var(--dark);
}





#taskList {
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 50px;
    padding-left: 16px;
}

.task:hover {
    background-color: var(--light);
}

.task .checkbox {
    height: 14px;
    width: 14px;
    border: solid 2px var(--dark);
    border-radius: 10px;
    background-color: none;
    margin-right: 14px;
}

.task .name {
    flex: 0 0 250px;
    font-weight: bold;
}

.task .description {
    flex: 1;
}

.divider {
    background-color: var(--light);
    height: 1px;
    margin: 0 10px 0;
}





.task .checkbox.completed {
    background-color: var(--dark);
}

.task .name.completed {
    text-decoration: line-through;
    opacity: 30%;
}

.task .description.completed {
    text-decoration: line-through;
    opacity: 30%;
}