body {
    background-color: white;
}

.task {
    display: flex;
    width: 500px;
    align-items: center;
    border: 1px grey solid;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.task .name {
    flex: 0 0 80px;
    font-weight: bold;
}

.task .description {
    flex: 1;
}

/* .task button.x {
    width: 30px;
    height: 30px;
} */